
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main>
            <div>
             <h1>My lists</h1>
             <h2>name</h3>
            <ul>
             {% for list in todolists %}
             <li>{{list.name}}</li>
             {% endfor %}
            </ul>
             </div>
        </main>
    </body>
    </html>
